# Verification

Deserializing is the first step to verification. The `from_json` and `from_json_file` methods on `Serializable` are available to deserialize output JSON files back into their original classes.
