:root {
  --md-primary-fg-color:        #004D40;
  --md-primary-fg-color--light: #80CBC4;
  --md-primary-fg-color--dark:  #263238;
  --md-text-link-color: indigo;
  --md-accent-fg-color: indigo;
  --md-accent-fg-color--transparent: indigo;
  --md-admonition-icon--custom-admonition: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"><path d="M0 0h24v24H0V0z" fill="none"/><circle cx="12" cy="19" r="2"/><path d="M10 3h4v12h-4z"/></svg>')
}
.md-typeset .admonition.custom-admonition,
.md-typeset details.custom-admonition {
  border-color: rgb(43, 155, 70);
  background-color: rgb(43, 155, 70);
}
.md-typeset .custom-admonition > .admonition-title,
.md-typeset .custom-admonition > summary {
  background-color: rgba(43, 155, 70);
  border-color: rgb(43, 155, 70);
}
.md-typeset .custom-admonition > .admonition-title::before,
.md-typeset .custom-admonition > summary::before {
  background-color: rgb(255, 255, 255);
  -webkit-mask-image: var(--md-admonition-icon--custom-admonition);
          mask-image: var(--md-admonition-icon--custom-admonition);
}
